{% extends "/layouts/base.twig" %}


{% block main %}

<section class="contact reveal" id="contact">
	<div class="container">
		<h2 class="title reveal-1">
            <span>{{post.get_field('subtitle')}}</span>
                {{post.post_title}}
        </h2>

		<div class="contact-container reveal-2" id="contact-container">
            {% filter shortcodes | raw %}
                {# Copy paste here your contact-form 7 shortcode, then add id & class #}
                [contact-form-7 id="118" title="Contact form 2" html_id="contact-form" html_class="contact-form"]
            {% endfilter %}
			{% if local_dev == 'development' %}
				<p style="border: 1px solid red;padding:10px;border-radius:10px;">
					<i class="fas fa-exclamation-triangle"></i> You are in development mode, please see 'contact.twig' file for instructions about the contact form settings
				<p>
			{% endif %}
		</div>
	</div>
</section>

{% endblock %}


{# 

Code to copy paste in contact-form7

[text* your-name placeholder "Nom &amp; Prénom / Société"]
[email* your-email placeholder "Email"]
[textarea* your-message minlength:50 placeholder "Votre message"]
<div>
	<button class="btn" type="submit">
		Envoyer le message
	</button>
</div>

 #}

