<h3> Justified text </h3>
<p style="text-align: justify;">Lorem
	<strong>ipsum</strong>
	<del>dolor sit amet</del>, consectetur adipiscing elit. Curabitur ac arcu at orci rhoncus molestie dapibus ac lorem. Suspendisse ac ante vitae orci dignissim condimentum. Ut eget vehicula ex. Donec congue sapien sed bibendum aliquet. Suspendisse ut bibendum mi. Sed nec mauris felis. Maecenas maximus, tellus vitae ultricies convallis, ipsum urna imperdiet orci, vel consequat velit neque non risus. Morbi eget rutrum urna, ut pharetra urna. Integer facilisis scelerisque enim, et blandit mi egestas sit amet. Vestibulum et massa et neque dictum fringilla vitae nec lectus. Duis a nulla nec lacus tristique feugiat.</p>

<h3>
	List
</h3>

<ul>
	<li>Aliquam dapibus lacus vel enim elementum, ac tempus nunc efficitur.</li>
	<li>Sed a turpis mi. Sed in tempus eros, vel sagittis mi. Sed sapien justo, rutrum ut euismod id, posuere vitae urna.</li>
	<li>Proin mattis ipsum massa, ac sollicitudin dui maximus vitae.</li>


</ul>

<h3>
	Left alignment
</h3>

<p style="text-align: left;">Lorem ipsum
	dolor sit amet, consectetur adipiscing elit. Curabitur ac arcu at orci rhoncus molestie dapibus ac lorem. Suspendisse ac ante vitae orci dignissim condimentum. Ut eget vehicula ex. Donec congue sapien sed bibendum aliquet. Suspendisse ut bibendum mi. Sed nec mauris felis. Maecenas maximus, tellus vitae ultricies convallis, ipsum urna imperdiet orci, vel consequat velit neque non risus. Morbi eget rutrum urna, ut pharetra urna. Integer facilisis scelerisque enim, et blandit mi egestas sit amet. Vestibulum et massa et neque dictum fringilla vitae nec lectus. Duis a nulla nec lacus tristique feugiat.</p>

<h3>
	Right alignment
</h3>

<p style="text-align: right;">Lorem ipsum
		dolor sit amet, consectetur adipiscing elit. Curabitur ac arcu at orci rhoncus molestie dapibus ac lorem. Suspendisse ac ante vitae orci dignissim condimentum. Ut eget vehicula ex. Donec congue sapien sed bibendum aliquet. Suspendisse ut bibendum mi. Sed nec mauris felis. Maecenas maximus, tellus vitae ultricies convallis, ipsum urna imperdiet orci, vel consequat velit neque non risus. Morbi eget rutrum urna, ut pharetra urna. Integer facilisis scelerisque enim, et blandit mi egestas sit amet. Vestibulum et massa et neque dictum fringilla vitae nec lectus. Duis a nulla nec lacus tristique feugiat.</p>

